{{ form_start(form) }}
{{form_row(form.title,{'attr': {'class': 'form-control w-100 mt-2 mb-2','placeholder': 'Title'}})}}
    {{form_row(form.description,{'attr': {'class': 'form-control w-100 mt-2 mb-2'}})}}
    {{ form_label(form.startDate, "Start Date") }}
    <div class="row m-2">
        {{form_widget(form.startDate.day,{'attr': {'class': 'form-control w-25 m-2'}})}}
        {{form_widget(form.startDate.month,{'attr': {'class': 'form-control w-25 m-2'}})}}
        {{form_widget(form.startDate.year,{'attr': {'class': 'form-control w-25 m-2'}})}}
    </div>
    {{ form_label(form.endDate, "End Date") }}
    <div class="row m-2">
        {{form_widget(form.endDate.day,{'attr': {'class': 'form-control w-25 m-2'}})}}
        {{form_widget(form.endDate.month,{'attr': {'class': 'form-control w-25 m-2'}})}}
        {{form_widget(form.endDate.year,{'attr': {'class': 'form-control w-25 m-2'}})}}
    </div>
    {{form_row(form.Type,{'attr': {'class': 'form-control w-100 mt-2 mb-2'}})}}
    {{form_row(form.NOP,{'attr': {'class': 'form-control w-100 mt-2 mb-2'}})}}
    {{form_row(form.Candidate,{'attr': {'class': 'form-control w-100 mt-2 mb-2'}})}}
    {{form_row(form.location,{'attr': {'class': 'form-control w-100 mt-2 mb-2'}})}}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
