{% extends 'base.html.twig' %}

{% block title %}Event index{% endblock %}
{% block page_title %}
    Events List
{% endblock %}
{% block custom_stylesheets %}
    <!-- Custom styles for this page -->
    <link href="{{ asset("vendor/datatables/dataTables.bootstrap4.min.css") }}" rel="stylesheet">
{% endblock %}

{% block custom_js %}
    <script src="{{ asset("vendor/datatables/jquery.dataTables.min.js") }}"></script>
    <script src="{{ asset("vendor/datatables/dataTables.bootstrap4.min.js") }}"></script>
    <script>
        let data = [
            {% for event in events %}
            {
                "ID" : "{{ event.id }}",
                "Title" : "{{ event.title }}",
                "StartDate" : "{{ event.startDate ? event.startDate|date('Y-m-d') : '' }}",
                "EndDate" : "{{ event.endDate ? event.endDate|date('Y-m-d') : '' }}",
                "NOP" : "{{ event.NOP }}",
                "location" : "{{ event.location }}",
                "Action":   document.createElement("div").innerHTML = `<div style="display: flex; justify-content: center">
                                <a href="{{ path('event_show', {'id': event.id}) }}"><button type="button" class="btn btn-sm shadow-sm btn-info mt-2 mb-2 ml-2"><i class="fas fa-search"></i></button></a>
                                <a href="{{ path('event_edit', {'id': event.id}) }}"><button type="button" class="btn btn-sm shadow-sm mt-2 mb-2 ml-2"><i class="far fa-edit"></i></button></a>
                            </div>`
            },
            {% endfor %}
        ]

        let table = $('#dataTable').DataTable({
            "columns": [
                {
                    "data": "ID"
                },
                {
                    "data": "Title"
                },

                {
                    "data": "StartDate"
                },
                {
                    "data": "EndDate"
                },
                {
                    "data": "NOP"
                },
                {
                    "data": "location"
                },
                {
                    "data": "Action"
                }
            ]
        });
        table.rows.add(data).draw()
    </script>
{% endblock %}
{% block main %}

    <div class="card shadow-lg h-75 m-4 mt-8">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Events List</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>StartDate</th>
                        <th>EndDate</th>
                        <th>NOP</th>
                        <th>Location</th>
                        <th>actions</th>
                    </tr>
                    </thead>
                    <tfoot>
                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <div style="width: 100%; display:flex; justify-content: flex-end">
        <a href="{{ path('event_new') }}"><button type="button" class="btn btn-primary btn-sm shadow-sm mt-2 mb-2"><i class="far fa-plus-square"></i> Create New</button></a>
    </div>

{% endblock %}
