{% extends 'frontoffice/login/index.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

    <h3>Sign in</h3>
    {% for message in app.flashes('message') %}
        <div class="'alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('warning') %}
        <div class="'alert alert-warning" role="alert">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('danger') %}
        <div class="'alert alert-danger" role="alert">
            {{ message }}
        </div>
    {% endfor %}
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.username }}
            </div>
        {% endif %}

        <label for="inputEmail">Email</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
        <label for="inputPassword">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" required>

        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >

        {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
        #}

       <center> <button class="btn btn-lg btn-primary" type="submit">
            Sign in
        </button> </center>
        <br>
    </form>
    <center>
        <table>
        <tr><th><a href="{{ path('app_register') }}"><button type="button" class="btn btn-info " href="{{ path('app_register') }}"> Sign up as a Candidate</button></a></th></tr>
    <tr><th><a href="{{ path('app_registerr') }}"><button type="button" class="btn btn-info " href="{{ path('app_registerr') }}"> Sign up as a Recruiter</button></a></th></tr>
    </table></center>
   <center> <a href="{{ path('forgottenpass') }}"><button type="button" class="btn btn-link" href="{{ path('forgottenpass') }}"> Forgot password ?</button></a></center>

    <br>
{% endblock %}


