<!DOCTYPE html>
<html style="scroll-behavior: smooth;">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ asset ('css/animate.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset ('css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset ('css/line-awesome.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset ('css/line-awesome-font-awesome.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset ('css/font-awesome.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset ('css/jquery.mCustomScrollbar.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset ('lib/slick/slick.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset ('lib/slick/slick-theme.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset ('css/style.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset ('css/responsive.css') }}">
        <!-- Load Flashy default CSS -->
        <link rel="stylesheet" href="{{ asset('bundles/mercuryseriesflashy/css/flashy.css') }}">
        <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700' rel='stylesheet'>
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
              integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

        {% block custom_stylesheets %}
        {% endblock %}
    {% endblock %}
</head>

<body>
{% block body %}
    {% block navbar %}
        <header style="z-index: 1000; margin-bottom: 30px;">
            <div class="container">
                <div class="header-data">
                    <div class="logo">
                        <a href="#" title=""><img src="{{ asset ('images/logo.png') }}" alt=""></a>
                    </div><!--logo end-->
                    <div class="search-bar">
                        <form>
                            <input type="text" name="search" placeholder="Search...">
                            <button type="submit"><i class="la la-search"></i></button>
                        </form>
                    </div><!--search-bar end-->
                    <nav>
                        <ul>
                            <li>
                                <a href="{{ path("front_project_index") }}" title="">
                                    <span><i class="la la-puzzle-piece"></i></span>
                                    Projects
                                </a>
                            </li>
                            <li>
                                <a href="" title="">
                                    <span><i class="la la-laptop"></i></span>
                                    Freelance
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('profiless') }}" title="">
                                    <span><i class="la la-user"></i></span>
                                    Candidates
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('profiles') }}" title="">
                                    <span><i class="la la-building"></i></span>
                                    Companies
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('front_job_index') }}" title="">
                                    <span><i class="la la-briefcase"></i></span>
                                    Jobs
                                </a>
                            </li>
                            <li>
                                <a href="#" title="">
                                    <span><i class="la la-calendar"></i></span>
                                    Events
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('home_forum_index') }}" title="" class="not-box-open">
                                    <span><i class="la la-envelope"></i></span>
                                    Forum
                                </a>
                            </li>
                        </ul>
                    </nav><!--nav end-->
                    <div class="menu-btn">
                        <a href="#" title=""><i class="fa fa-bars"></i></a>
                    </div><!--menu-btn end-->
                    <div style="display: flex;" class="user-account">
                        <div class="user-info">
                            <a href="#" title="">
                                {% if is_granted('ROLE_RECRUITER') %}

                                <img height="25px",width="25px" src="{{ asset('uploads/images/' ~ app.user.image|default('undefined') ) }}" alt="">
                                {{ app.user.name|split(' ')[0] }}
                                <i class="la la-sort-down"></i>
                                {% elseif is_granted('ROLE_CANDIDATE') %}

                                    <img height="25px",width="25px" src="{{ asset('uploads/images/' ~ app.user.image|default('undefined') ) }}" alt="">
                                    {{ app.user.firstname|split(' ')[0] }}
                                    <i class="la la-sort-down"></i>
                                {% endif %}
                            </a>
                        </div>

                        {% block user_settings %}

                            <div class="user-account-settingss">

                                {% if is_granted('ROLE_RECRUITER') %}
                                <h3><a href="{{ path("job_index") }}">Go to dashboard</a></h3>
                                {% endif %}

                                {% if is_granted('ROLE_CANDIDATE') %}
                                    <ul class="us-links">
                                        <li><a href="{{ path("profile") }}" title="">My profile</a></li>
                                        <li><a href="{{ path("settings") }}" title="">Account Settings</a></li>
                                    </ul>
                                {% elseif is_granted('ROLE_RECRUITER') %}
                                    <ul class="us-links">
                                        <li><a href="{{ path("rprofile", { 'id': app.user.id|default('undefined') }) }}" title="">My profile</a></li>
                                        <li><a href="{{ path("Rsettings") }}" title="">Account Settings</a></li>
                                    </ul>
                                {% endif %}



                                <h3 class="tc"><a href="{{ path('app_logout') }}" title="">Logout</a></h3>
                            </div><!--user-account-settingss end-->
                        {% endblock %}

                    </div>
                </div><!--header-data end-->
            </div>
        </header><!--header end-->
    {% endblock %}


    {% block main %}
    {% endblock %}

{% endblock %}
</body>

{% block javascripts %}
    <script type="text/javascript" src="{{ asset ('js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset ('js/popper.js') }}"></script>
    <script type="text/javascript" src="{{ asset ('js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset ('js/jquery.mCustomScrollbar.js') }}"></script>
    <script type="text/javascript" src="{{ asset ('lib/slick/slick.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset ('js/scrollbar.js') }}"></script>
    <script type="text/javascript" src="{{ asset ('js/script.js') }}"></script>
    <!-- Flashy depends on jQuery -->
    <script src="//code.jquery.com/jquery.js"></script>
    <!-- Load Flashy default JavaScript -->
    <script src="{{ asset('bundles/mercuryseriesflashy/js/flashy.js') }}"></script>
{% endblock %}
{{ include('@MercurySeriesFlashy/flashy.html.twig') }}
</html>
