{% extends 'base.html.twig' %}

{% block title %}Question index{% endblock %}


{% block page_title %}
    Questions List
{% endblock %}


{% block main %}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Statement</th>
                <th>Points</th>
                <th>Test</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for question in questions %}
            <tr>
                <td>{{ question.id }}</td>
                <td>{{ question.statement }}</td>
                <td>{{ question.points }}</td>
                <th><a href="{{ path('test_show', {'id': question.test.id}) }}">{{ question.test.title }}</a></th>
                <td style="display: flex">
                    <a href="{{ path('question_show', {'id': question.id}) }}"><button type="button" class="btn btn-sm shadow-sm btn-info mt-2 mb-2 ml-2"><i class="fas fa-search"></i></button></a>
                    <a href="{{ path('question_edit', {'id': question.id}) }}"><button type="button" class="btn btn-sm shadow-sm mt-2 mb-2 ml-2"><i class="far fa-edit"></i></button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div style="width: 100%; display:flex; justify-content: flex-end">
        <a href="{{ path('question_new') }}"><button type="button" class="btn btn-primary btn-sm shadow-sm mt-2 mb-2"><i class="far fa-plus-square"></i> Create New</button></a>
    </div>
{% endblock %}
