{% extends 'base.html.twig' %}

{% block title %}Freelance {% endblock %}

{% block page_title %}
    Freelances List
{% endblock %}

{% block main %}

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Salary</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for freelance in freelances %}
            <tr>
                <td>{{ freelance.id }}</td>
                <td>{{ freelance.title }}</td>
                <td>{{ freelance.description }}</td>
                <td>{{ freelance.salary }} per hour</td>
                <td style="display: flex">
                    <a href="{{ path('freelance_show', {'id': freelance.id}) }}"><button type="button" class="btn btn-sm shadow-sm btn-info mt-2 mb-2 ml-2"><i class="fas fa-search"></i></button></a>
                    <a href="{{ path('freelance_edit', {'id': freelance.id}) }}"><button type="button" class="btn btn-sm shadow-sm mt-2 mb-2 ml-2"><i class="far fa-edit"></i></button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div style="width: 100%; display:flex; justify-content: flex-end">
        <a href="{{ path('freelance_new') }}"><button type="button" class="btn btn-primary btn-sm shadow-sm mt-2 mb-2"><i class="far fa-plus-square"></i> Create New</button></a>
    </div>

{% endblock %}
