{% extends 'base.html.twig' %}

{% block title %}Comment index{% endblock %}

{% block page_title %}
    Comments List
{% endblock %}
{% block main %}


    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Content</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for comment in comments %}
            <tr>
                <td>{{ comment.id }}</td>
                <td>{{ comment.content |raw}}</td>
                <td>{{ comment.date ? comment.date|date('Y-m-d') : '' }}</td>
                <td style="display: flex">
                    <a href="{{ path('dashbord_comment_show', {'id': comment.id}) }}"><button type="button" class="btn btn-sm shadow-sm btn-info mt-2 mb-2 ml-2"><i class="fas fa-search"></i></button></a>

                    {{ include('comment/_delete_form.html.twig') }}
                 <!--   <a href="{ path('dashbord_comment_edit', {'id': comment.id}) }}"><button type="button" class="btn btn-sm shadow-sm mt-2 mb-2 ml-2"><i class="far fa-edit"></i></button></a>-->
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <!--<div style="width: 100%; display:flex; justify-content: flex-end">
        <a href="{ path('dashbord_comment_new') }}"><button type="button" class="btn btn-primary btn-sm shadow-sm mt-2 mb-2"><i class="far fa-plus-square"></i> Create New</button></a>
    </div>-->
  <!--  <ul class="pagination">
        { knp_pagination_render(comments) }}
    </ul>-->
{% endblock %}
