{% extends 'base.html.twig' %}

{% block title %}Job index{% endblock %}

{% block main %}
    <h1>Job list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Date</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for job in jobs %}
            <tr>
                <td>{{ job.id }}</td>
                <td>{{ job.title }}</td>
                <td>{{ job.date ? job.date|date('Y-m-d') : '' }}</td>
                <td>{{ job.description }}</td>
                <td>
                    <a href="{{ path('job_show', {'id': job.id}) }}"<button type="button" class="btn btn-primary mt-2 mb-2">show</button></a>
                    <a href="{{ path('job_edit', {'id': job.id}) }}"<button type="button" class="btn btn-primary mt-2 mb-2">edit</button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('job_new') }}"<button type="button" class="btn btn-primary mt-2 mb-2">create new</button></a>
{% endblock %}
