{% extends 'base.html.twig' %}

{% block title %}Candidate index{% endblock %}

{% block page_title %}
    Candidates List
{% endblock %}

{% block main %}

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Email</th>
                <th>Nationality</th>
                <th>PhoneNumber</th>
                <th>Address</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for candidate in candidates %}
            <tr>
                <td>{{ candidate.id }}</td>
                <td>{{ candidate.firstName }}</td>
                <td>{{ candidate.lastName }}</td>
                <td>{{ candidate.email }}</td>
                <td>{{ candidate.nationality }}</td>
                <td>{{ candidate.phoneNumber }}</td>
                <td>{{ candidate.address }}</td>
                <td style="display: flex">
                    <a href="{{ path('candidate_show', {'id': candidate.id}) }}"><button type="button" class="btn btn-sm shadow-sm btn-info mt-2 mb-2 ml-2"><i class="fas fa-search"></i></button></a>
                    <a href="{{ path('candidate_edit', {'id': candidate.id}) }}"><button type="button" class="btn btn-sm shadow-sm mt-2 mb-2 ml-2"><i class="far fa-edit"></i></button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="14">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div style="width: 100%; display:flex; justify-content: flex-end">
        <a href="{{ path('recruiter_new') }}"><button type="button" class="btn btn-primary btn-sm shadow-sm mt-2 mb-2"><i class="far fa-plus-square"></i> Create New</button></a>
    </div>
{% endblock %}
