{% extends 'frontoffice/base.html.twig' %}
{% block main %}
    <section class="companies-info">
        <div class="container">
            <button class="company-title" type="button">
                <a href="{{ path("front_project_stats_index") }}">Statistiques</a>
            </button>
            <div class="companies-list">
                <div class="row" >
                    {% for project in projects %}
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="company_profile_info">
                            <div class="company-up-info">
                                <h3>{{ project.title }}</h3>
                                <h4>{{ project.date ? project.date|date('Y-m-d') : '' }}</h4>
                                <p>{{ project.description }} <a href="#" title="">view more</a></p>
                                <ul>
                                    <li><a href="{{  path("front_project_members_index", {'id': project.id}) }}" title="" class="follow">details</a></li>
                                </ul>
                            </div>
                        </div><!--company_profile_info end-->

                    </div>
                    {% endfor %}
            </div><!--companies-list end-->

            <div class="process-comm">
                <div class="spinner">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                </div>
            </div><!--process-comm end-->
    </div><!--theme-layout end-->
    </section><!--companies-info end-->
{% endblock %}
