
{% block stylesheets %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css" integrity="sha512-/zs32ZEJh+/EO2N1b0PEdoA10JkdC3zJ8L5FTiQu82LR9S/rOQNfQN7U59U9BC12swNeRAz3HSzIL2vpp4fv3w==" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ asset ('css/animate.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset ('css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset ('css/line-awesome.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset ('css/line-awesome-font-awesome.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset ('css/font-awesome.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset ('css/jquery.mCustomScrollbar.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset ('lib/slick/slick.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset ('lib/slick/slick-theme.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset ('css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset ('css/responsive.css') }}">

{% endblock %}
{% block navbar %}
    <header style="z-index: 1000">
        <div class="container">
            <div class="header-data">
                <div class="logo">
                    <a href="#" title=""><img src="{{ asset ('images/logo.png') }}" alt=""></a>
                </div><!--logo end-->
                <div class="search-bar">
                    <form>
                        <input type="text" name="search" placeholder="Search...">
                        <button type="submit"><i class="la la-search"></i></button>
                    </form>
                </div><!--search-bar end-->
                <nav>
                    <ul>
                        <li>
                            <a href="#" title="">
                                <span><i class="la la-home"></i></span>
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="{{ path("front_project_index") }}" title="">
                                <span><i class="la la-puzzle-piece"></i></span>
                                Projects
                            </a>
                        </li>
                        <li>
                            <a href="{{ path("front_freelance_index") }}" title="">
                                <span><i class="la la-laptop"></i></span>
                                Freelance
                            </a>
                        </li>
                        <li>
                            <a href="#" title="">
                                <span><i class="la la-briefcase"></i></span>
                                Jobs
                            </a>
                        </li>
                        <li>
                            <a href="#" title="">
                                <span><i class="la la-calendar"></i></span>
                                Events
                            </a>
                        </li>
                        <li>
                            <a href="#" title="" class="not-box-open">
                                <span><i class="la la-envelope"></i></span>
                                Forum
                            </a>
                            <div class="notification-box msg">
                                <div class="nt-title">
                                    <h4>Setting</h4>
                                    <a href="#" title="">Clear all</a>
                                </div>
                                <div class="nott-list">
                                    <div class="notfication-details">
                                        <div class="noty-user-img">
                                            <img src="{{ asset ('images/resources/ny-img1.png') }}" alt="">
                                        </div>
                                        <div class="notification-info">
                                            <h3><a href="#" title="">Jassica William</a> </h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do.</p>
                                            <span>2 min ago</span>
                                        </div><!--notification-info -->
                                    </div>
                                    <div class="notfication-details">
                                        <div class="noty-user-img">
                                            <img src="{{ asset('images/resources/ny-img2.png') }}" alt="">
                                        </div>
                                        <div class="notification-info">
                                            <h3><a href="#" title="">Jassica William</a></h3>
                                            <p>Lorem ipsum dolor sit amet.</p>
                                            <span>2 min ago</span>
                                        </div><!--notification-info -->
                                    </div>
                                    <div class="notfication-details">
                                        <div class="noty-user-img">
                                            <img src="{{ asset('images/resources/ny-img3.png') }}" alt="">
                                        </div>
                                        <div class="notification-info">
                                            <h3><a href="#" title="">Jassica William</a></h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempo incididunt ut labore et dolore magna aliqua.</p>
                                            <span>2 min ago</span>
                                        </div><!--notification-info -->
                                    </div>
                                    <div class="view-all-nots">
                                        <a href="#" title="">View All Messsages</a>
                                    </div>
                                </div><!--nott-list end-->
                            </div><!--notification-box end-->
                        </li>
                        <li>
                            <a href="#" title="" class="not-box-open">
                                <span><i class="la la-bolt"></i></span>
                                Notification
                            </a>
                            <div class="notification-box">
                                <div class="nt-title">
                                    <h4>Setting</h4>
                                    <a href="#" title="">Clear all</a>
                                </div>
                                <div class="nott-list">
                                    <div class="notfication-details">
                                        <div class="noty-user-img">
                                            <img src="{{ asset ('images/resources/ny-img1.png') }}" alt="">
                                        </div>
                                        <div class="notification-info">
                                            <h3><a href="#" title="">Jassica William</a> Comment on your project.</h3>
                                            <span>2 min ago</span>
                                        </div><!--notification-info -->
                                    </div>
                                    <div class="notfication-details">
                                        <div class="noty-user-img">
                                            <img src="{{ asset('images/resources/ny-img2.png') }}" alt="">
                                        </div>
                                        <div class="notification-info">
                                            <h3><a href="#" title="">Jassica William</a> Comment on your project.</h3>
                                            <span>2 min ago</span>
                                        </div><!--notification-info -->
                                    </div>
                                    <div class="notfication-details">
                                        <div class="noty-user-img">
                                            <img src="{{ asset('images/resources/ny-img3.png') }}" alt="">
                                        </div>
                                        <div class="notification-info">
                                            <h3><a href="#" title="">Jassica William</a> Comment on your project.</h3>
                                            <span>2 min ago</span>
                                        </div><!--notification-info -->
                                    </div>
                                    <div class="notfication-details">
                                        <div class="noty-user-img">
                                            <img src="{{ asset('images/resources/ny-img2.png') }}" alt="">
                                        </div>
                                        <div class="notification-info">
                                            <h3><a href="#" title="">Jassica William</a> Comment on your project.</h3>
                                            <span>2 min ago</span>
                                        </div><!--notification-info -->
                                    </div>
                                    <div class="view-all-nots">
                                        <a href="#" title="">View All Notification</a>
                                    </div>
                                </div><!--nott-list end-->
                            </div><!--notification-box end-->
                        </li>
                    </ul>
                </nav><!--nav end-->
                <div class="menu-btn">
                    <a href="#" title=""><i class="fa fa-bars"></i></a>
                </div><!--menu-btn end-->
                <div class="user-account">
                    <div class="user-info">
                        <img src="http://via.placeholder.com/30x30" alt="">
                        <a href="#" title="">John</a>
                        <i class="la la-sort-down"></i>
                    </div>

                    {% block user_settings %}
                        <div class="user-account-settingss">
                            <h3><a href="{{ path("post_index") }}">Go to dashboard</a></h3>

                            <h3>Custom Status</h3>
                            <div class="search_form">
                                <form>
                                    <input type="text" name="search">
                                    <button type="submit">Ok</button>
                                </form>
                            </div><!--search_form end-->
                            <h3>Setting</h3>
                            <ul class="us-links">
                                <li><a href="profile-account-setting.html" title="">Account Setting</a></li>
                                <li><a href="#" title="">Privacy</a></li>
                                <li><a href="#" title="">Faqs</a></li>
                                <li><a href="#" title="">Terms & Conditions</a></li>
                            </ul>
                            <h3 class="tc"><a href="sign-in.html" title="">Logout</a></h3>
                        </div><!--user-account-settingss end-->
                    {% endblock %}

                </div>
            </div><!--header-data end-->
        </div>
    </header><!--header end-->
{% endblock %}
{% block main %}
    <div class="container">
        <h1>Statistiques</h1>
        <canvas id="projects" width="400" height="100"></canvas>
    </div>

{% endblock %}
 {% block javascripts %}
     <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" integrity="sha512-s+xg36jbIujB2S2VKfpGmlC3T5V2TF3lY48DX7u2r9XzGzgPsa6wTpOQA7J9iffvdeBN0q9tKzRxVxw1JviZPg==" crossorigin="anonymous"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" integrity="sha512-s+xg36jbIujB2S2VKfpGmlC3T5V2TF3lY48DX7u2r9XzGzgPsa6wTpOQA7J9iffvdeBN0q9tKzRxVxw1JviZPg==" crossorigin="anonymous"></script>
     <script>
         let projects = document.querySelector("#projects")
         let projGraph = new Chart(projects, {
             type: "pie",
             data: {
                 labels: {{ projTitle|raw }},
                 datasets: [{
                     label: "Répartition des annonces",
                     data: {{ projCount|raw }},
                     backgroundColor: {{ projColor|raw }}
                 }]
             }
         })
     </script>
     <script type="text/javascript" src="{{ asset ('js/jquery.min.js') }}"></script>
     <script type="text/javascript" src="{{ asset ('js/popper.js') }}"></script>
     <script type="text/javascript" src="{{ asset ('js/bootstrap.min.js') }}"></script>
     <script type="text/javascript" src="{{ asset ('js/jquery.mCustomScrollbar.js') }}"></script>
     <script type="text/javascript" src="{{ asset ('lib/slick/slick.min.js') }}"></script>
     <script type="text/javascript" src="{{ asset ('js/scrollbar.js') }}"></script>
     <script type="text/javascript" src="{{ asset ('js/script.js') }}"></script>
 {% endblock %}
