{% extends 'frontoffice/base.html.twig' %}

{% block title %}Forum index{% endblock %}
{% block page_title %}
    Forums List
{% endblock %}
{% block main %}
    <section class="forum-sec" id="top">
        <div class="container">
            <div class="forum-links">
                <ul>
                    <li><a href="#" title="" data-toggle="modal" data-target="#add-forum-modal">Add a Forum</a></li>
                </ul>
            </div><!--forum-links end-->
            <div class="forum-links-btn">
                <a href="#" title=""><i class="fa fa-bars"></i></a>
            </div>
        </div>
    </section>
    <section class="forum-page">
        <div class="container">
            <div class="forum-questions-sec">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="forum-questions">
                            {% for forum in forums |sort|reverse %}
                                <div class="usr-question">
                                    <div class="usr_img">
                                        <img src="http://via.placeholder.com/50x50" alt="">
                                    </div>
                                    <div class="usr_quest">
                                        <a href="{{ path('home_forum_show' , {'id': forum.id}) }}">
                                            <h3>{{ forum.title }}</h3></a>
                                        {{ forum.description }}
                                        {% if is_granted('ROLE_CANDIDATE') and (app.user == forum.Candidate) or is_granted('ROLE_RECRUITER') and (app.user == forum.Recruiter) %}
                                            <div style="width: 100%; display:flex; justify-content: flex-end">

                                                <a href="#" data-toggle="modal"
                                                   data-target="#edit-forum-modal-{{ forum.id }}">
                                                    <button type="button"
                                                            class="btn-sm shadow-sm btn btn-primary mt-2 mb-2 mr-2">
                                                        Edit
                                                    </button>
                                                </a>
                                                <!-- Modal edit -->
                                                <div class="modal fade" id="edit-forum-modal-{{ forum.id }}"
                                                     tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                                                     aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLabel">
                                                                    Edit Forum</h5>
                                                                <button type="button" class="close" data-dismiss="modal"
                                                                        aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                {{ render(controller(
                                                                    'App\\Controller\\ForumController::editFront',
                                                                    { 'id': forum.id }
                                                                )) }}

                                                                <!--{ include('frontoffice/forum/edit.html.twig', {'forum':forum}) }}-->
                                                                <button type="button" class="btn btn-secondary"
                                                                        data-dismiss="modal">Close
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                {{ include('frontoffice/forum/_delete_form.html.twig') }}
                                            </div>


                                        {% else %}

                                        {% endif %}
                                    </div><!--usr_quest end-->
                                </div><!--usr-question end-->
                            {% else %}
                                <tr>
                                    <td colspan="4">no records found</td>
                                </tr>
                            {% endfor %}
                        </div><!--forum-questions end-->
                    </div>
                    <div class="col-lg-4" style="position: fixed; right: 50px; top: 197px">
                        <div class="widget widget-user">
                            <h3 class="title-wd" style="color: #eeeeee; font-size: 16px;background-color: #4e73df;">Top new 5 forum </h3>
                            <ul>
                                {% for forum in forums |sort|reverse|slice(0,5) %}

                                    <li>
                                        <div class="usr-msg-details">
                                            <div class="usr-mg-info">
                                                <h3 style="color: #6a737c; font-size: 14px;">{{ forum.title }}</h3>
                                            </div>
                                            <!--usr-mg-info end-->
                                        </div>
                                    </li>

                                {% endfor %}
                            </ul>
                        </div><!--widget-user end-->
                        <a href="#top">
                            <button style=" width: 128px; font-family: Noto Sans,Arial,sans-serif; border-radius: 15px; text-align:center; margin-left: 35%; position: relative;"
                                    class="btn d-none d-sm-inline-block btn-sm btn-primary shadow-sm mt-2 mb-2"
                                    id="">Back to Top
                            </button>
                        </a>
                    </div>
                </div>

            </div><!--forum-questions-sec end-->
        </div>
    </section><!--forum-page end-->


    <!-- Modal Add -->
    <div class="modal fade" id="add-forum-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"> Add Forum</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ include('frontoffice/forum/_form.html.twig') }}
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        /*
        ======================================
        BACK TO TOP LINK
        ======================================
        */

        // When the user scrolls down 20px from the top of the document, show the button


        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }

        $(window).scroll(function () {

            if ($(document).scrollTop() > 200) {
                console.log("her scroll");
                $(".d-none").css("display", "block !important");
                $(".d-none").css("position", "fixed !important");
            }
        });
    </script>
{% endblock %}
