{{ form_start(form) }}

    {{ form_widget(form.name,{'attr': {'class': 'form-control w-100 mt-2 mb-2','placeholder': 'Name'}})}}
    {{ form_widget(form.email,{'attr': {'class': 'form-control w-100 mt-2 mb-2','placeholder': 'E-mail'}})}}
    {{ form_widget(form.password,{'attr': {'class': 'form-control w-100 mt-2 mb-2','placeholder': 'Password'}})}}
    {{ form_widget(form.address,{'attr': {'class': 'form-control w-100 mt-2 mb-2','placeholder': 'Address'}})}}
    {{ form_widget(form.description,{'attr': {'class': 'form-control w-100 mt-2 mb-2','placeholder': 'Description'}})}}
    {{ form_widget(form.image,{'attr': {'class': 'form-control w-100 mt-2 mb-2','placeholder': 'Profile picture'}})}}
    {{ form_widget(form.phoneNumber,{'attr': {'class': 'form-control w-100 mt-2 mb-2','placeholder': 'Phone number'}})}}
    {{ form_row(form.field,{'attr': {'class': 'form-control w-100 mt-2 mb-2'}})}}

    <div style="width: 100%; display:flex; justify-content: flex-end">
        <button class="btn btn-primary btn-sm shadow-sm mt-2 mb-2">
            <i class="fas fa-{{ icon|default('save') }}"></i>
            {{ button_label|default('Save') }}
        </button>
    </div>
{{ form_end(form) }}
