{% extends 'base.html.twig' %}

{% block title %}Recruiter index{% endblock %}

{% block page_title %}
    Recruiters List
{% endblock %}

{% block main %}

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Password</th>
                <th>Address</th>
                <th>Description</th>
                <th>PhoneNumber</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for recruiter in recruiters %}
            <tr>
                <td>{{ recruiter.id }}</td>
                <td>{{ recruiter.name }}</td>
                <td>{{ recruiter.email }}</td>
                <td>{{ recruiter.password }}</td>
                <td>{{ recruiter.address }}</td>
                <td>{{ recruiter.description }}</td>
                <td>{{ recruiter.phoneNumber }}</td>
                <td>{{ recruiter.image }}</td>
                <td style="display: flex">
                    <a href="{{ path('recruiter_show', {'id': recruiter.id}) }}"<button type="button" class="btn btn-sm shadow-sm btn-info mt-2 mb-2 ml-2"><i class="fas fa-search"></i></button></a>
                    <a href="{{ path('recruiter_edit', {'id': recruiter.id}) }}"><button type="button" class="btn btn-sm shadow-sm mt-2 mb-2 ml-2"><i class="far fa-edit"></i></button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div style="width: 100%; display:flex; justify-content: flex-end">
        <a href="{{ path('recruiter_new') }}"><button type="button" class="btn btn-primary btn-sm shadow-sm mt-2 mb-2"><i class="far fa-plus-square"></i> Create New</button></a>
    </div>
{% endblock %}
