{% extends 'base.html.twig' %}

{% block title %}Field{% endblock %}

{% block main %}
    <h1>Field</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ field.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ field.title }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('field_index') }}"<button type="button" class="btn btn-primary mt-2 mb-2">Back to list</button></a>

    <a href="{{ path('field_edit', {'id': field.id}) }}"<button type="button" class="btn btn-primary mt-2 mb-2">edit</button></a>

    {{ include('field/_delete_form.html.twig') }}
{% endblock %}
