{{ form_start(upload) }}

<div class="modal-body">
    {{ form_widget(upload.File, { 'attr': {
        'class': 'form-control-file',
        'id': 'upload'
    } }) }}
</div>

<div class="modal-footer">
    <button class="btn btn-primary btn-sm shadow-sm mt-2 mb-2">
        <i class="fas fa-{{ icon|default('save') }}"></i>
        {{ button_label|default('Save') }}
    </button>
</div>

{{ form_end(upload) }}
