{% extends 'base.html.twig' %}

{% block title %}Freelance{% endblock %}

{% block main %}
    <h1>Freelance</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ freelance.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ freelance.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ freelance.description }}</td>
            </tr>
            <tr>
                <th>Salary</th>
                <td>{{ freelance.salary }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('freelance_index') }}">back to list</a>

    <a href="{{ path('freelance_edit', {'id': freelance.id}) }}">edit</a>

    {{ include('freelance/_delete_form.html.twig') }}
{% endblock %}
