{% extends 'base.html.twig' %}

{% block title %}Field index{% endblock %}

{% block main %}
    <h1>Field list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for field in fields %}
            <tr>
                <td>{{ field.id }}</td>
                <td>{{ field.title }}</td>
                <td>
                    <a href="{{ path('field_show', {'id': field.id}) }}"<button type="button" class="btn btn-primary mt-2 mb-2">show</button></a>
                    <a href="{{ path('field_edit', {'id': field.id}) }}"<button type="button" class="btn btn-primary mt-2 mb-2">edit</button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('field_new') }}"<button type="button" class="btn btn-primary mt-2 mb-2">Create new</button></a>
{% endblock %}
