{% extends 'base.html.twig' %}

{% block title %}Post index{% endblock %}

{% block page_title %}
    Posts List
{% endblock %}

{% block custom_stylesheets %}
    <!-- Custom styles for this page -->
    <link href="{{ asset("vendor/datatables/dataTables.bootstrap4.min.css") }}" rel="stylesheet">
{% endblock %}

{% block custom_js %}
    <script src="{{ asset("vendor/datatables/jquery.dataTables.min.js") }}"></script>
    <script src="{{ asset("vendor/datatables/dataTables.bootstrap4.min.js") }}"></script>
    <script>
        let data = [
            {#
            <th>Id</th>
            <th>Title</th>
            <th>Description</th>
            <th>Date</th>
            <th>Views</th>
            <th>Likes</th>
            <th>NOC</th>
            <th>actions</th>
            #}
            {% for post in posts %}
            {
                "ID" : "{{ post.id }}",
                "Title" : "{{ post.title }}",
                "Description" : "{{ post.description }}",
                "Date": "{{ post.creatAt ? post.creatAt|date("Y-m-d") : "" }}",
                "Views": "{{ post.views is null ? 0 : post.views  }}",
                "NOC": "{{ post.NOC }}",
                "Action":   document.createElement("div").innerHTML = `<div style="display: flex; justify-content: center">
                                <a href="{{ path('dashbord_post_show', {'id': post.id}) }}"><button type="button" class="btn btn-sm shadow-sm btn-info mt-2 mb-2 ml-2"><i class="fas fa-search"></i></button></a>
                                <a href="{{ path('dashbord_post_edit', {'id': post.id}) }}"><button type="button" class="btn btn-sm shadow-sm mt-2 mb-2 ml-2"><i class="far fa-edit"></i></button></a>
                            </div>`
            },
            {% endfor %}
        ]

        let table = $('#dataTable').DataTable({
            "columns": [
                {
                    "data": "ID"
                },
                {
                    "data": "Title"
                },
                {
                    "data": "Description"
                },
                {
                    "data": "Date"
                },
                {
                    "data": "Views"
                },
                {
                    "data": "NOC"
                },
                {
                    "data": "Action"
                }
            ]
        });
        table.rows.add(data).draw()
    </script>
{% endblock %}

{% block main %}

    <div class="card shadow-lg h-75 m-4 mt-8">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary"> Posts List</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Date</th>
                        <th>Views</th>
                        <th>Nb. Comments</th>
                        <th>actions</th>
                    </tr>
                    </thead>
                    <tfoot>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div style="width: 100%; display:flex; justify-content: flex-end">
        <a href="{{ path('dashbord_post_new') }}"><button type="button" class="btn btn-primary btn-sm shadow-sm mt-2 mb-2"><i class="far fa-plus-square"></i> Create New</button></a>
    </div>

{% endblock %}
