{% extends 'base.html.twig' %}

{% block title %}Post index{% endblock %}

{% block main %}
    <h1>Post index</h1>

    <table class="table" >
        <thead>
            <tr class="table-secondary">
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Date</th>
                <th>Views</th>
                <th>Likes</th>
                <th>NOC</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td>{{ post.id }}</td>
                <td>{{ post.title }}</td>
                <td>{{ post.description }}</td>
                <td>{{ post.date ? post.date|date('Y-m-d') : '' }}</td>
                <td>{{ post.views }}</td>
                <td>{{ post.likes }}</td>
                <td>{{ post.NOC }}</td>
                <td>
                    <a href="{{ path('post_show', {'id': post.id}) }}" class="btn btn-primary">show</a>
                    <a href="{{ path('post_edit', {'id': post.id}) }}" class="btn btn-danger">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('post_new') }}" class="btn btn-secondary">+</a>
{% endblock %}
