{% extends 'base.html.twig' %}

{% block title %}Post index{% endblock %}

{% block page_title %}
    Posts List
{% endblock %}

{% block main %}


    <table class="table">
        <thead>
        <tr>

        <th>Id</th>
        <th>title </th>
        <th>description</th>
        <th>Date</th>
        <th>Views</th>
        <th>NOC</th>
        <th>actions</th>

        </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td>{{ post.id }}</td>
                <td>{{ post.title }}</td>
                <td>{{ post.description }}</td>
                <td>{{ post.creatAt ? post.creatAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    {% if post.views is null %}
                        0
                    {% else %}
                        {{ post.views }}
                    {% endif %}
                </td>
                <td>{% if post.NOC is null %}
                        0
                    {% else %}
                        {{ post.NOC }}
                    {% endif %}
                    </td>

                <td style="display: flex">
                    <a href="{{ path('dashbord_post_show', {'id': post.id}) }}">
                        <button type="button" class="btn btn-sm shadow-sm btn-info mt-2 mb-2 ml-2"><i
                                    class="fas fa-search"></i></button>
                    </a>
                    <!-- <a href="{ path('dashbord_post_edit', {'id': post.id}) }}">-->
                    <!--<button type="button" class="btn btn-sm shadow-sm mt-2 mb-2 ml-2"><i class="far fa-edit"></i>
                    </button>-->
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
    <!--<div>
        <a href="{ path('dashbord_post_new') }}">
            <button type="button" class="btn btn-primary btn-sm shadow-sm mt-2 mb-2"><i class="far fa-plus-square"></i>
                Create New
            </button>
        </a>
    </div>-->



{% endblock %}
