{% extends 'base.html.twig' %}

{% block title %}Post{% endblock %}
{% block gobackbtn %}
    <a href="{{ path("post_index") }}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
        <i class="fas fa-arrow-left fa-sm text-white-50"></i> Go back
    </a>
{% endblock %}

{% block page_title %}
    Post
{% endblock %}
{% block main %}


    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ post.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ post.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ post.description }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ post.date ? post.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Views</th>
                <td>{{ post.views }}</td>
            </tr>
            <tr>
                <th>Likes</th>
                <td>{{ post.likes }}</td>
            </tr>
            <tr>
                <th>NOC</th>
                <td>{{ post.NOC }}</td>
            </tr>
        </tbody>
    </table>
    <div style="width: 100%; display:flex; justify-content: flex-end">
        <a href="{{ path('post_edit', {'id': post.id}) }}"><button type="button" class="btn-sm shadow-sm btn btn-primary mt-2 mb-2 mr-2"><i class="far fa-edit"></i> Edit</button></a>
        {{ include('post/_delete_form.html.twig') }}
    </div>





{% endblock %}
