{{ form_start(form) }}

{{ form_row(form.title,{'attr': {'class': 'form-control w-100 mt-2 mb-2','placeholder': 'Title'}})}}
{{form_row (form.description,{'attr': {'class': 'form-control w-100 mt-2 mb-2','placeholder': 'Description'}})}}
{{form_row(form.Post,{'attr': {'class': 'form-control w-100 mt-2 mb-2'}})}}
{{form_row(form.freelances,{'attr': {'class': 'form-control w-100 mt-2 mb-2'}})}}

    <button class="btn btn-primary mt-2 mb-2">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
