{% extends 'base.html.twig' %}

{% block title %}Tag{% endblock %}

{% block main %}
    <h1>Tag</h1>

    <table class="table">
        <tbody>
            <tr>
                <th class="table-secondary">Id</th>
                <td>{{ tag.id }}</td>
            </tr>
            <tr>
                <th class="table-secondary">Title</th>
                <td>{{ tag.title }}</td>
            </tr>
            <tr>
                <th class="table-secondary">Description</th>
                <td>{{ tag.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('tag_index') }}" class="btn btn-secondary"> < Back </a>
    <a href="{{ path('tag_edit', {'id': tag.id}) }}" class="btn btn-danger" >edit</a>
    {{ include('tag/_delete_form.html.twig') }}
{% endblock %}
