{% extends 'base.html.twig' %}

{% block title %}Tag{% endblock %}
{% block gobackbtn %}
<a href="{{ path("tag_index") }}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
    <i class="fas fa-arrow-left fa-sm text-white-50"></i> Go back
</a>
{% endblock %}

{% block page_title %}
    Tag
{% endblock %}
{% block main %}


    <table class="table">
        <tbody>
            <tr>
                <th >Id</th>
                <td>{{ tag.id }}</td>
            </tr>
            <tr>
                <th >Title</th>
                <td>{{ tag.title }}</td>
            </tr>
            <tr>
                <th >Description</th>
                <td>{{ tag.description }}</td>
            </tr>
        </tbody>
    </table>
    <div style="width: 100%; display:flex; justify-content: flex-end">
        <a href="{{ path('tag_edit', {'id': tag.id}) }}"><button type="button" class="btn-sm shadow-sm btn btn-primary mt-2 mb-2 mr-2"><i class="far fa-edit"></i> Edit</button></a>
        {{ include('tag/_delete_form.html.twig') }}
    </div>


{% endblock %}
