{{ form_start(form) }}
    {{ form_label(form.date, "Date") }}
    <div class="row m-2">
        {{form_widget(form.date.day,{'attr': {'class': 'form-control w-25 m-2'}})}}
        {{form_widget(form.date.month,{'attr': {'class': 'form-control w-25 m-2'}})}}
        {{form_widget(form.date.year,{'attr': {'class': 'form-control w-25 m-2'}})}}
    </div>
    {{form_row(form.Candidate,{'attr': {'class': 'form-control w-100 mt-2 mb-2'}})}}
    {{form_row(form.score,{'attr': {'class': 'form-control w-100 mt-2 mb-2'}})}}
    {{form_row(form.Job,{'attr': {'class': 'form-control w-100 mt-2 mb-2'}})}}
    {{form_row(form.Freelance,{'attr': {'class': 'form-control w-100 mt-2 mb-2'}})}}
    {{form_row(form.Test,{'attr': {'class': 'form-control w-100 mt-2 mb-2'}})}}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
