{% extends 'base.html.twig' %}

{% block title %}Candidature index{% endblock %}

{% block page_title %}
    Candidature List
{% endblock %}

{% block main %}

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>Score</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for candidature in candidatures %}
            <tr>
                <td>{{ candidature.id }}</td>
                <td>{{ candidature.date ? candidature.date|date('Y-m-d') : '' }}</td>
                <td>{{ candidature.score }}</td>

                <td style="display: flex">
                    <a href="{{ path('candidature_show', {'id': candidature.id}) }}"><button type="button" class="btn btn-sm shadow-sm btn-info mt-2 mb-2 ml-2"><i class="fas fa-search"></i></button></a>
                    <a href="{{ path('candidature_edit', {'id': candidature.id}) }}"><button type="button" class="btn btn-sm shadow-sm mt-2 mb-2 ml-2"><i class="far fa-edit"></i></button></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div style="width: 100%; display:flex; justify-content: flex-end">
        <a href="{{ path('candidature_new') }}"><button type="button" class="btn btn-primary btn-sm shadow-sm mt-2 mb-2"><i class="far fa-plus-square"></i> Create New</button></a>
    </div>
{% endblock %}
