{% extends 'base.html.twig' %}

{% block title %}Candidate index{% endblock %}

{% block main %}
    <h1>Candidate index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Email</th>
                <th>Password</th>
                <th>Birthday</th>
                <th>Gender</th>
                <th>Nationality</th>
                <th>PhoneNumber</th>
                <th>Address</th>
                <th>Image</th>
                <th>LOE</th>
                <th>Experience</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for candidate in candidates %}
            <tr>
                <td>{{ candidate.id }}</td>
                <td>{{ candidate.firstName }}</td>
                <td>{{ candidate.lastName }}</td>
                <td>{{ candidate.email }}</td>
                <td>{{ candidate.password }}</td>
                <td>{{ candidate.birthday ? candidate.birthday|date('Y-m-d') : '' }}</td>
                <td>{{ candidate.gender }}</td>
                <td>{{ candidate.nationality }}</td>
                <td>{{ candidate.phoneNumber }}</td>
                <td>{{ candidate.address }}</td>
                <td>{{ candidate.image }}</td>
                <td>{{ candidate.LOE }}</td>
                <td>{{ candidate.experience }}</td>
                <td>
                    <a href="{{ path('candidate_show', {'id': candidate.id}) }}">show</a>
                    <a href="{{ path('candidate_edit', {'id': candidate.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="14">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('candidate_new') }}">Create new</a>
{% endblock %}
