{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_widget(form.title,{'attr': {'class': 'form-control w-100 mt-2 mb-2', 'placeholder': 'Project title'}})}}
    <div class="alert alert-danger">
        {{ form_errors(form.description) }}
    </div>
    {{form_widget(form.description,{'attr': {'class': 'form-control w-100 mt-2 mb-2', 'placeholder': 'Project description'}})}}
    <div class="alert alert-danger">
        {{ form_errors(form.description) }}
    </div>
    {{ form_label(form.date, "Date") }}
    <div class="row m-2">
        {{form_widget(form.date.day,{'attr': {'class': 'form-control w-25 m-2'}})}}
        {{form_widget(form.date.month,{'attr': {'class': 'form-control w-25 m-2'}})}}
        {{form_widget(form.date.year,{'attr': {'class': 'form-control w-25 m-2'}})}}
    </div>
    {{form_row(form.Recruiter,{'attr': {'class': 'form-control w-100 mt-2 mb-2'}})}}
    <div style="width: 100%; display:flex; justify-content: flex-end">
        <button class="btn btn-primary btn-sm shadow-sm mt-2 mb-2">
            <i class="fas fa-{{ icon|default('save') }}"></i>
            {{ button_label|default('Save') }}
        </button>
</div>
{{ form_end(form) }}
