{% extends 'base.html.twig' %}

{% block title %}Project{% endblock %}
{% block gobackbtn %}
    <a href="{{ path("project_index") }}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
        <i class="fas fa-arrow-left fa-sm text-white-50"></i> Go back
    </a>
{% endblock %}
{% block main %}
    <h1>Project</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ project.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ project.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ project.description }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ project.date ? project.date|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <div style="width: 100%; display:flex; justify-content: flex-end">
        <a href="{{ path('project_edit', {'id': project.id}) }}"><button type="button" class="btn-sm shadow-sm btn btn-primary mt-2 mb-2 mr-2"><i class="far fa-edit"></i> Edit</button></a>
        {{ include('project/_delete_form.html.twig') }}
    </div>

{% endblock %}
